.full {
    width: 100vw;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.full-menu__list {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.full-menu__item {
    margin-bottom: 2rem;
}

.full-menu__btn {
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 27px;
    padding: 0;
    border: 0;
}

.full-menu__btn:focus {
    outline: none;
}

.full-menu__close {
    width: 1.4rem;
    height: 1.4rem;
    fill: #c2c3c4;
}

.full-menu__close:hover {
    cursor: pointer;
}